

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html
{
    scroll-behavior: smooth;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Courier New', monospace;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(14, 30, 15);
    /* background-blend-mode: overlay; */
    color: rgb(250, 255, 180);
}

footer
{
    background-color: #0000005a;
    color: green;
    
    text-align: center;
    padding: 1px 0;
    height: auto;
}

#visit-counter {
    font-size: 1rem;
}

.projects,
.about,
.contact
{
    width: 100%;
    margin-bottom: 80px;
}

.about
{
    margin-top: 32px;
}

.contact
{
}

.about-image-cross {
    width: 400px;
    height: 320px;
    object-fit: cover;
    display: inline;
    transform: rotate(2deg);
    white-space: nowrap;
}

.about-image-laser
{
    width: 400px;
    height: 250px;
    object-fit: cover;
    display: inline;
    transform: rotate(2deg);
    white-space: nowrap;
}

.about-image-abee
{
    width: 375px;
    height: 250px;
    object-fit: cover;
    display: inline;
    transform: rotate(2deg);
    white-space: nowrap;
}

.about-image-text
{
    text-align: center; 
    transform: rotate(2deg); 
    margin-top: 2px;
    font-size: 12px; 
    margin-left: -40px;
    color:rgb(194, 194, 194);
}

.about-image:hover
{
    background-image: url("images/ali-reigns.gif");
}

.about-text
{
    font-size: 20px;
    line-height: 25px; 
    max-width: 500px;
}

a {
    color: #72b6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #9dccff;
}

.projects-label,
.about-label,
.contact-label
{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 8px;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.project-item
{
/* flex: 1 1 calc(25% - 10px); */
    position: relative;
    border: 2px solid rgb(128, 0, 0);
    box-sizing: border-box;
    overflow: hidden;
    height: 300px;
    max-width: 1000px;
    min-width: 1000px;
}

.project-item:hover {
    border-color: red;
    /* transform: scale(1.01); */
}

.project-item:hover .project-item-image {
    opacity: 1;
    /*background-image set from script!*/
}

.project-item-image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    opacity: 0.8;
    /*background-image set from script!*/
    background-size: cover;
    background-position: center;
    background-color:black;
}

.project-item-gif {
    width: 100%;
    height: 100%;
    
    /*background-image set from script!*/
    background-size: cover;
    background-position: center;
    
    transition: opacity 0.35s ease;
    opacity: 0;
}

.project-item-name
{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
}

.project-item-desc
{
    position: absolute;
    left: 310px;
    top: 50%;
    bottom: 44%;
    text-align: left;
    padding-right: 8px; 
    margin: auto;
    height: 100%;
}

.navbar {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    background: linear-gradient(to right, #001201, #000000 50%, #001201);
    box-shadow: 0 4px 6px rgb(0, 31, 2);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
    cursor: pointer;
}

.contact-list
{
    display: flex; 
    justify-items: center; 
    flex-direction: column; 
    align-items: center;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #373737;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(184, 184, 184);
    font-family: 'Courier New', Courier, monospace
}

#top-button:hover {
    background-color: #4b4b4b;
    color: white;
}

/*
body {
    font-family: 'Courier New', monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(6, 31, 11, 0.75);
    background-blend-mode: overlay;
    color: rgb(250, 255, 180);
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee 10s linear infinite;
}

.marquee span {
    padding: 0 0px;
    font-size: 48px;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

*/