

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Courier New', monospace;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(17, 17, 17);
    background-blend-mode: overlay;
    /* background-image: url('images/matrix.gif'); */
    color: rgb(250, 255, 180);
}

.overlay
{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
    z-index: -1;
}

.construction {
    display: none;
}

.construction img {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    background-size: contain;
}

footer
{
    
}

.projects,
.about,
.contact
{
    width: 100%;
    margin-bottom: 40px;
    scroll-margin-top: 70px;
}

#demos,
#tools,
#projects-tts
{
    margin-top: 100px;
}

.about
{
}

.about-grid
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
    margin-right: 100px;
}

.contact
{
}

.about-image-cross {
    width: 400px;
    height: 320px;
    object-fit: cover;
    display: inline;
    transform: rotate(2deg);
    white-space: nowrap;
}

.about-image-laser
{
    width: 400px;
    height: 250px;
    object-fit: cover;
    display: inline;
    transform: rotate(2deg);
    white-space: nowrap;
}

.about-image-abee
{
    width: 375px;
    height: 250px;
    object-fit: cover;
    display: inline;
    transform: rotate(2deg);
    white-space: nowrap;
}

.about-image-gangsta {
    width: 400px;
    height: 450px;
    object-fit: contain;
    display: inline;
    white-space: nowrap;
    margin-left: -140px;
    transform: rotate(3deg);
}

.about-image-games {
    width: 400px;
    height: 600px;
    object-fit: contain;
    display: inline;
    white-space: nowrap;
    transform: rotate(3deg);
    margin-top: 40px;
    margin-left: -30px;
}

.about-image-text
{
    text-align: center; 
    transform: rotate(2deg); 
    margin-top: 2px;
    font-size: 12px; 
    margin-left: -40px;
    color:rgb(194, 194, 194);
}

.about-text
{
    font-size: 18px;
    line-height: 25px; 
    min-width: 450px;
    max-width: 500px;
    max-height: 600px;
    background-color: rgba(0, 15, 0, 0.8);
    padding: 10px;
    border: 1px solid rgb(3, 52, 0);
}

.about-text:hover
{
    border-color: red;
}

a {
    color: #72b6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #9dccff;
}

.projects-label,
.contact-label
{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 8px;
}

.about-header,
.demos-header,
.doomturtle-header,
.tts-header,
.tools-header
{
    background-size: auto;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.about-header { height: 180px; margin-top: 40px; margin-bottom: -40px; }
.doomturtle-header { height: 240px; }
.tts-header { height: 180px; }
.demos-header { height: 200px; }
.tools-header { height: 120px; margin-bottom: 0px; }

.about-header img {height: 110px; }
.doomturtle-header img {height:240px;}
.tts-header img{height: 180px;}
.demos-header img{height:200px;}
.tools-header img{height:120px;}

.tts-desc
{
    font-size: 12px;
    display: inline;
    text-align: center;
    color: rgb(194, 194, 194);
    margin-top: -40px;
    max-width: 400px;
}

.header-desc
{
    position: relative;
    
    border: 2px dotted rgb(35, 35, 35);
    border-radius: 20px;
    
    box-sizing: border-box;
    min-height: 75px;
    max-height: 150px;
    max-width: 800px;
    min-width: 700px;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    text-align: center;
    align-items: center;
    
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 16px;
    
    color: rgb(194, 194, 194);
}

.header-desc:hover
{
    border-color: rgb(128, 128, 128);
    color: rgb(222,222,222);
}

.header-desc-image
{
    position: absolute;
    top: -18px;
    left: -21px;
    width: 40px;
    height: 40px;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.project-item
{
    position: relative;
    border: 2px solid rgb(3, 52, 0);
    box-sizing: border-box;
    overflow: hidden;
    height: 300px;
    max-width: 1000px;
    min-width: 1000px;
    background-color: rgba(0,15,0,0.8);
    color: rgb(225, 230, 155);
}

.project-item:hover {
    border-color: red;
    color: rgb(250, 255, 180);
    /* transform: scale(1.01); */
}

.project-item:hover .project-item-image {
    opacity: 1;
    /*background-image set from script!*/
}

.project-item-image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    opacity: 0.8;
    /*background-image set from script!*/
    background-size: cover;
    background-position: center;
    background-color:black;
}

.project-item-gif {
    width: 100%;
    height: 100%;
    
    /*background-image set from script!*/
    background-size: cover;
    background-position: center;
    
    transition: opacity 0.35s ease;
    opacity: 0;
}

.project-item-name
{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
}

.project-item-desc
{
    position: absolute;
    left: 310px;
    top: 50%;
    bottom: 44%;
    text-align: left;
    padding-right: 8px; 
    margin: auto;
    height: 100%;
}

.navbar {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    background: linear-gradient(to right, #001201, #000000 50%, #001201);
    box-shadow: 0 4px 6px rgb(0, 31, 2);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
    cursor: pointer;
}

.contact-list
{
    display: flex; 
    justify-items: center; 
    flex-direction: column; 
    align-items: center;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #373737;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(184, 184, 184);
    font-family: 'Courier New', Courier, monospace
}

#top-button:hover {
    background-color: #4b4b4b;
    color: white;
}

#visit-counter
{
    text-align: center;
    margin-bottom: 12px;
    color: red;
    font-size: 32px;
    font-family: clock;
    text-shadow: 4px 4px black;
}

@font-face {
    font-family: 'terminal';
    src: URL('fonts/clacon2.ttf') format('truetype');
}

@font-face {
    font-family: 'clock';
    src: URL('fonts/clock.ttf') format('truetype');
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    
    background: linear-gradient(to left, #001201, #000000);
}

.marquee {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee 10s linear infinite;
}

.marquee span {
    padding: 0 0px;
    font-size: 48px;
    white-space: nowrap;
    font-family: terminal;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}